{% extends "base.html" %}

{% block title %}Blockly Games{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <div class="btn btn-primary" id="blockly_games_btn">Blockly Games</div>
        </div>
        <div class="col-md-2 col-md-offset-4">
            <div class="btn btn-info" id="blockly_sudo_btn">Blockly Sudoku</div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/index.js') }}"></script>
{% endblock %}
